<div class="container mt-3">
  <h2>Your reserved resources</h2>

<% if current_user.reservations[0].nil? %>
  <div class="alert alert-warning">
  <p>You have not reserved anything yet.</p>
  </div>

<% else %>
  <% current_user.reservations.each do |reservation| %>
    <div class="bg-light rounded w-100 d-flex p-3" style="background-color: rgba(245, 245, 245, 0.5); margin: 50px auto auto auto">
      <%= cl_image_tag donation.photo.key, height: 200, class: "align-self-center"%>
        <div class="donationd-body">
          <ul style="list-style: none">
          <li><strong>Resource: </strong><%= reservation.donation.name %></li>
          <br>
          <li><strong>Location: </strong><%= reservation.donation.address %></li>
          <br>
          <li><strong>Details: </strong><%= reservation.donation.timeframe %></li>
          <br>
          <li><strong>Offered by :</strong> <%= reservation.donation.user %> </li>
        </div>
      <div class="row">
      <div class="row">
        <%= link_to "", donation_reservation_path(reservation), method: :delete, class: "fas fa-ban donationd-remove-link col-1" %>
      </div>
    </div>
    <% end %>
<% end %>
</div>
