<% content_for :meta_title, "#{@user.user_name.capitalize!}'s profile on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@user.photo.key) %>
<div class="container">
  <h2>Welcome, <%= @user.user_name.capitalize %>!</h2>
  <h3>Your current donations:</h3>
  <ul>
      <% @user.donations.each do |donation|%>
        <div class="donationd">
          <li><%= link_to donation.name, donation_path(donation) %></li>
          <li> <%= cl_image_tag donation.photo.key, width: 300, height: 200 %></li>
          <li><%=link_to "edit", edit_donation_path(donation) %></li>
          <li><%=link_to "delete", donation_path(donation), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        </div>
    </ul>

  <div id="homepage-btn">
        <%= link_to "ADD DONATION", new_donation_path, class: "button-filled-add" %>
  </div>
</div>
