<div class="container">
  <div class="banner">
    <%= image_tag "home_banner_main.jpg", alt: "Image landing page" %>
  </div>
  <div class="home-searchform">
    <%= simple_form_for :search, url: donations_path, method: 'GET', class: 'from-inline' do |f| %>
      <%= f.input :category, prompt: 'choose a category', label:false, class: 'from-inline', collection: Category.all %>
      <%= f.input :category, prompt: 'max. distance of donation', label:false, collection: Category.all %>
      <%= f.submit 'SEARCH', class: 'button-filled-search' %>
    <% end %>
  </div>
  <div class="card-home">
    <h2>Help homeless in you <br>neighbourhood</h2>
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </p>
    </div>
    <div id="homepage-btn">
      <%= link_to "ADD DONATION", new_donation_path, class: "button-filled-add" %>
    </div>
    <div class="card-home">
      <h2>Among people.<br>Homeless people<br>and their stories</h2>
        <p>Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua.<br><br>
          Consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    <div id="homepage-btn">
      <%= link_to "STORIES", new_donation_path, class: "button-filled-stories" %>
    </div>
      <div class="footer-element">
    <%= image_tag "home_footer_element.jpg", alt: "Footer element home page" %>
  </div>
</div>
