<div class="container-home">
  <div class="banner">
    <%= image_tag "home_banner_main.jpg", alt: "Image landing page" %>
  </div>
  <div class="home-searchform">
    <%= form_tag donations_path, method: 'GET', html: { class: 'form-inline' } do %>
      <%= label_tag :query do %>
      <%end%>
      <%= text_field_tag :query,
      params[:query],
      class: "form-inline",
      placeholder: "What are you looking for?"
      %>
      <%= text_field_tag :address,
      params[:address],
      class: "form-inline",
      placeholder: "Proximate location"
      %>
      <%= submit_tag "SEARCH", class: "button-filled-search" %>
      <%= submit_tag "SHOW ALL", class: "button-filled-list-all" %>
    <% end %>
  </div>
  <div class="card-home">
    <h2>Help homeless in you <br>neighbourhood</h2>
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </p>
    </div>
    <div id="homepage-btn">
      <%= link_to "ADD DONATION", new_donation_path, class: "button-filled-add" %>
    </div>
    <div class="card-home">
      <h2>Among people.<br>Homeless people<br>and their stories</h2>
        <p>Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua.<br><br>
          Consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    <div id="homepage-btn">
      <%= link_to "STORIES", new_donation_path, class: "button-filled-stories" %>
    </div>
      <div class="footer-element">
    <%= image_tag "home_footer_element.jpg", alt: "Footer element home page" %>
      </div>
    </div>
</div>
