<div class="container-home">
  <div class="banner">
    <%= image_tag "home_banner_main.jpg", alt: "Image landing page" %>
  </div>
  <div class="home-searchform">
    <%= form_tag donations_path, method: 'GET', html: { class: 'form-inline' } do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-inline",
      placeholder: "What are you looking for?"
      %>
      <%= text_field_tag :address,
      params[:address],
      class: "form-inline",
      placeholder: "Find by proximate location"
      %>
      <%= submit_tag "SEARCH", class: "button-filled-search" %>
    <% end %>
  </div>
  <br>
   <br>
  <div class="home-searchform">
    <%= form_tag donations_path, method: 'GET', html: { class: 'form-inline' } do %>
      <%= select_tag :categories, options_from_collection_for_select(@categories, "id", "name")%>
      <%#= text_field_tag :categories,
      params[:categories],
      class: "form-inline",
      placeholder: "Find by categories"
      %>
      <%= submit_tag "SEARCH", class: "button-filled-search" %>
    <% end %>

  </div>
  <div class="card-home">
    <h2>Help homeless in you <br>neighbourhood</h2>
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </p>
    </div>
    <div id="homepage-btn">
      <%= link_to "ADD DONATION", new_donation_path, class: "button-filled-add" %>
    </div>
    <div class="card-home">
      <h2>Among people.<br>Homeless people<br>and their stories</h2>
        <p>Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua.<br><br>
          Consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    </div>
    <div id="homepage-btn">
      <%= link_to "STORIES", new_donation_path, class: "button-filled-stories" %>
    </div>
</div>
