<div class="container">
  <div id="map"
     style="width: 90%; height: 600px; align-items: center;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <script>
      // TO MAKE THE MAP APPEAR YOU MUST
      // ADD YOUR ACCESS TOKEN FROM
      // https://account.mapbox.com
      mapboxgl.accessToken = 'pk.eyJ1Ijoidml2aW5pIiwiYSI6ImNrYTZsdWk3NjAxNHYycW16eDdzaWZwODgifQ.NoiyuGN1LjdLtHntnFXuOA';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/vivini/ckb686a1t3g6f1ionykd6v6gz', //hosted style id
    center: [52.52, 13.41], // starting position
    zoom: 3 // starting zoom
    });
    </script>
  </div>
  <div class="header">
    <h3>These are the resources!</h3>
  </div>
	<ul>
    <% @donations.each do |donation|%>
      <div class="card">
        <li><%= link_to donation.name, donation_path(donation) %></li>
        <li> <%= cl_image_tag donation.photo.key, width: 300, height: 200 %></li>
      <% end %>
      </div>
  </ul>

  <%= link_to "Make a Donation", new_donation_path %>

</div>
