<% content_for :meta_title, "Add a donation on #{DEFAULT_META["meta_product_name"]}" %>
<div class="container new">
  <div id="new-header-decoration">
    <%= image_tag "new_header_element.png", alt: "Header element add donation page" %>
  </div>
    <h2>Add your dontation</h2>
  <div class="new-searchform">
    <%= simple_form_for @donation, class: 'from-inline new' do |f| %>
    <%= f.input :name,  placeholder: 'name the article',label:false, class: 'from-inline new' %>
    <%= f.input :address, placeholder: "Where do you want to meet?", label:false %>
    <%= f.input :description, placeholder: "Describe the article", label:false %>
    <%= f.input :timeframe, placeholder: "Details", label:false %>
      <div class="upload-wrapper">
        <a class="upload-button" data-type-upload=""><i class="far fa-image"></i></a>
            <div class="form-group file optional">
              <input class="file optional" type="file" name="custom_name" id="custom_name">
            </div>
            <div class="action">
              <div class="preview-wrapper" data-file-preview-class="preview-cover">
                <div class="preview-cover"><!-- Empty --></div>
                  <input type="file" name="custom_name" id="custom_name">
                </div>
                <div class="form-group hidden custom_name_cover_picture_cache">
                  <input class="form-control hidden" type="hidden" name="custom_name_cover_picture_cache" id="custom_name_cover_picture_cache">
                </div>
            </div>
      </div>
    <%= f.button :submit, "ADD DONATION", class: "button-filled create" %>
    <% end %>
  </div>
    <div id="new-footer-decoration">
      <%= image_tag "new_footer_element.png", alt: "Footer element add donation page" %>
    </div>
</div>
