<% content_for :meta_title, "#{@donation.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @donation.description %>
<% content_for :meta_image, cl_image_path(@donation.photo.key) %>
<div class="container show">
  <div class="show-image">
    <%= cl_image_tag @donation.photo.key, id:"show-banner" %>
  </div>
  <div>
    <%= image_tag "show_background_element_left.png", id: "show-decoration-left", alt: "decoration element yellow" %>
  </div>
  <div class="show-details">
    <div id="info-name">
      <h1><%= @donation.name %></h1>
      <h3>By:<br><%= @donation.user.user_name.split.map(&:capitalize).join(' ') %></h3>
    </div>
    <div id="info-description">
      <p><%= @donation.description %></p>
      <p>This resource can be accessed at <%= @donation.address %>.</p>
      <% if @donation.user.private == true %>
        <p>When? <br><%= @donation.timeframe %>, <%= @donation.updated_at.strftime("%A %e %B %Y") %></p>
      <% else %>
        <p>When? <%= @donation.timeframe %></p>
      <% end %>
      </p>
    </div>
    <div id="show-buttons">
      <%= link_to 'RESERVE', donation_reservations_path(@donation), class: "button-filled black", action: :create, method: :post %>
      <%= link_to 'BACK TO RESULTS', donations_path, class: "button-filled outline" %>
    </div>
    <div>
    </div>
  </div>
</div>

