<% content_for :meta_title, "#{@donation.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @donation.description %>
<% content_for :meta_image, cl_image_path(@donation.photo.key) %>
<div class="container show">
  <div class="show-image">
    <%= cl_image_tag @donation.photo.key, id:"show-banner" %>
  </div>
  <div>
    <%= image_tag "show_background_element_left.png", id: "show-decoration-left", alt: "decoration element yellow" %>
  </div>
  <div class="show-details">
    <div id="info-name">
      <h1><%= @donation.name %></h1>
      <h3>Donator:<br>Organization</h3>
    </div>
    <div id="info-description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua.
      </p>
    </div>
    <div id="show-buttons">
      <%= link_to 'Reserve', donation_reservations_path(@donation), action: :create, method: :post %>
      <%= link_to 'Back to results', donations_path %>
    </div>
    <div>
      <%= image_tag "show_background_element_footer.png", id: "show-decoration-footer", alt: "decoration element black" %>
    </div>
  </div>
</div>
